@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');

ion-app{
  font-family: 'Plus Jakarta Sans';
}

.flex{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.tipos-perfil{
  display: flex;
  flex-direction: column;
  //Margin variável de acordo com o tamanho dos botões ajustados depois, um after seria legal
  margin-top: 10px;
}



h1{
  display: flex;
  justify-content: center;
  font-family: 'Plus Jakarta Sans';
  font-size: 20px;
  margin: 25px;
  color: #2D516C;
}

.subtitulo{
  font-size: 16px;
  margin-bottom: 15px;
}

//Aqui vai a estilização das caixas de texto de seleção de perfil

.saiba-mais{
  display: flex;
  justify-content: center;
  //Margin top variável em realção aos botões
  margin-top: 15px;
  font-size: 14px;

}

.users{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-size: 16px;
  padding: 20px;
}


ion-button {
  --color: rgb(0, 0, 0);
  --background-activated: #9bbbd3;

  --border-radius: 12px;
  --border-color: #2D516C;
  --border-style: solid;
  --border-width: 2px;
  
  text-transform: uppercase;

  --padding-top: 10px;
  --padding-bottom: 10px;

}

ion-icon{
  margin-right: 8px;

}


//inputs de formulário

.config-perfil{
  margin-left: 10px;
  margin-right: 20px;
}

p{
  margin-left: 20px;
}

.label-idade{
  display: flex;
  justify-content: end;
}


.botao{
  display: flex;
  justify-content: center;
  margin: 30px;
}

.button-cadastrar{
  color: #fff;
  background-color: #2D516C;
  width: 100%;
  height: 20%;
  font-family: 'Plus Jakarta Sans';
  align-items: center;
  border: none;
  border-radius: 5px 5px;
  padding: 8px;
  margin-top: 20px;
}