<!--Menu principal!-->

<div class="MenuLateral">
  <ion-menu  side="end" contentId="main-content" class="MenuLateral">
    <ion-header>
      <ion-toolbar>
        <div class="cabecalho-menu">
          <ion-menu-button></ion-menu-button>
            <ion-title class="title-menu">Menu Lateral</ion-title>
            <ion-menu-button>X</ion-menu-button>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
        <ion-item-group>
          <ion-item class="Separador-menu">
            <ion-label>Suporte</ion-label>
          </ion-item>
          <ion-item class="Separador-menu">
            <ion-label>Serviços</ion-label>
          </ion-item>
          <ion-item lines="none" class="Separador-menu">
            <ion-label>Sair da conta</ion-label>
          </ion-item>
        </ion-item-group>
    </ion-content>
  </ion-menu>
  <div id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button slot="end" class="menu"></ion-menu-button>
        </ion-buttons>
        <div class="flex">
          <ion-img
            class="img-logo"
            src="assets/image/logo.png"
            alt="Logo"
          ></ion-img>
          <ion-title class="titulo-principal">MedTempo</ion-title>
        </div>
      </ion-toolbar>
    </ion-header>
    <!-- Fim Menu principal!-->
  </div>

</div>