@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');


ion-segment-button::part(indicator-background) {
  background: #FFC859;
}

ion-segment-button.md::part(native) {
  color: #000;
  font-family: 'Plus Jakarta Sans';
  margin-top: 40px;
}

header{
  margin: 0 auto;
}

.subtitulo{
  font-size: 20px;
  font-family: 'Plus Jakarta Sans';
  text-align: center;
  margin-top: 30px;
  color: #2D516C;
}

.img-logo{
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  height: 7rem;
}

.cabecalho{
  align-items: center;
}

.titulo-principal{
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  color: #2D516C;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Plus Jakarta Sans';
}

.caixa-selecao{
  margin: 10px;  
}

.corpo-formulario{
  margin: 25px;
}

.opcoes{
  font-size: 15px;
  font-family: 'Plus Jakarta Sans';
  margin-top: 10px;
  margin-right: 15px;
}

.input-entrar{
  margin: 0;
  font-family: 'Roboto';
  color: black;
  font-size: 13px;
}

.input-senha{
  font-family: 'Roboto';
  color: black;
  font-size: 15px;
}

.text-tipo{
  font-size: 15px;
}

.button-entrar{
  color: #fff;
  background-color: #2D516C;
  width: 100%;
  height: 20%;
  font-family: 'Plus Jakarta Sans';
  align-items: center;
  border: none;
  border-radius: 5px 5px;
  padding: 8px;
  margin-top: 20px;
}

.botao-senha{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 0.5px
}